<h2>Sign In Here</h2>
<form id="loginForm">
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address go here</label>
        <input type="email" class="form-control" id="inputEmail">
        <div id="emailHelp" class="form-text">Please know that we'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit here</button>
</form>

<script src="../public/js/login.js"></script>