<div class="card">
  <div class="card-header flex-row justify-space-between">
    <h2>Login</h2>
  </div>
  <form class="card-body" id="login-form">
    <input class="form-input" type="text" placeholder="Username" id="username-input-login">
    <input class="form-input" type="password" placeholder="Password" id="password-input-login">
    <br>
    <div class="flex-row justify-space-between">
      <button class="btn"><a href="/signup">Need an account? Signup</a></button>
      <button class="btn">Submit</button>
    </div>
  </form>
</div>
<script src="/js/login.js"></script>