<div class="card">
  <div class="card-header flex-row justify-space-between">
    <h2>New Post</h2>
  </div>
  <form class="card-body" id="new-post-form">
    <label class="form-label">Title:</label>
    <input class="form-input" type="text" name="post-title"/>
    <br>
    <label class="form-label">Content:</label>
    <textarea class="form-input" name="post-body"></textarea>
    <br>
    <div class="flex-row justify-center">
      <button class="btn">Submit</button>
    </div>
  </form>
</div>
<script src="/js/new.js"></script>