<h3>New Post here</h3>
<form id="newPost">
<div class="mb-3">
    <label for="inputTitle" class="form-label">Title here</label>
    <input type="text" class="form-control" name="postTitle" id="inputTitle" placeholder="Title">
</div>
<div class="mb-3">
    <label for="inputContent" class="form-label">Post here</label>
    <textarea class="form-control" name="postContent" id="inputContent" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit here</button>
</form>

<script src="../public/js/newPost.js"></script>