<div class="card">
  <div class="card-header flex-row justify-space-between">
    <h2>Signup</h2>
  </div>
  <form class="card-body" id="signup-form">
    <input class="form-input" type="text" placeholder="Username" id="username-input-signup">
    <input class="form-input" type="password" placeholder="Password" id="password-input-signup">
    <br>
    <div class="flex-row justify-space-between">
      <button class="btn"><a href="/login">Have an account? Login</a></button>
      <button class="btn">Submit</button>
    </div>
  </form>
</div>
<script src="/js/signup.js"></script>