<h2>Sign Up here</h2>
<form id="signupForm">
    <div class="mb-3">
        <label for="inputUsername" class="form-label">Username here</label>
        <input type="text" class="form-control" id="inputUsername">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address here</label>
        <input type="email" class="form-control" id="inputEmail">
        <div id="emailHelp" class="form-text">Please know we'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">Password here</label>
        <input type="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit here</button>
</form>

<script src="../public/js/signup.js"></script>